<br />

<h2>Edit this Client</h2>

<form method="POST" action="/products/edit/<%= productID._id %>?_method=PUT">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="csw_products" id="csw_products" value="<%= productID.csw_products %>">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="type" id="type" value="<%= productID.type %>">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" id="description" value="<%= productID.description %>">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="price" id="price" value="<%= productID.price %>">
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/products" role="button">Cancel</a>
        </div>
    </div>
</form>